@model Nop.Plugin.Payments.BerkutPay.Models.PaymentInfoModel

@{
    Layout = "";
}

@{
    var iconUrl_YKB = Url.Content("~/Plugins/Payments.BerkutPay/Content/icons/YKB_Icon.png");
    var iconUrl_VB = Url.Content("~/Plugins/Payments.BerkutPay/Content/icons/VakıfBank_Icon.png");
}

<style>
    #installment-options label {
        display: inline-flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 5px;
        background-color: #f1f1f1;
        border-radius: 5px;
        width: 100%;
    }

    #installment-options input[type="radio"] {
        margin-right: 5px;
    }

    #installment-row {
        text-align: center;
        display: none;
    }

    #bank-icon {
        text-align: center;
    }

    #installment-options {
        display: inline-block;
        max-width: 150px;
    }

</style>

<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr style="display:none">
        <td>
            <label asp-for="CreditCardTypes">@T("Payment.SelectCreditCard"):</label>
        </td>
        <td>
            <select asp-for="CreditCardType" asp-items="Model.CreditCardTypes" class="dropdownlists"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardholderName">@T("Payment.CardholderName"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardholderName" autocomplete="off" />
            <span asp-validation-for="CardholderName"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardNumber" autocomplete="off" maxlength="22" />
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="ExpireMonth">@T("Payment.ExpirationDate"):</label>
        </td>
        <td>
            <select asp-for="ExpireMonth" asp-items="Model.ExpireMonths"></select>
            /
            <select asp-for="ExpireYear" asp-items="Model.ExpireYears"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardCode">@T("Payment.CardCode"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardCode" autocomplete="off" maxlength="4" />
            <span asp-validation-for="CardCode"></span>
        </td>
    </tr>
</table>

<div id="bank-icon" style="display:none;"></div>

<div id="installment-row">
    <div id="installment-options">
        <label for="installment-1"><input type="radio" id="installment-1" name="installment" value="1" checked> Peşin</label>
        <label for="installment-2"><input type="radio" id="installment-2" name="installment" value="2"> 2 taksit</label>
        <label for="installment-3"><input type="radio" id="installment-3" name="installment" value="3"> 3 taksit</label>
        <label for="installment-4"><input type="radio" id="installment-4" name="installment" value="4"> 4 taksit</label>
        <label for="installment-6"><input type="radio" id="installment-6" name="installment" value="6"> 6 taksit</label>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("input[name='CardNumber']").on("input", function () {
            var prefix = $(this).val().substring(0, 6);

            if (prefix.length < 6) {
                $('#bank-icon').hide();
                $('#installment-row').hide();
            } else {

                $.ajax({
                    url: '@Url.Action("GetCardInfo", "BerkutPay", new { area = "Admin" })',
                    type: 'GET',
                    data: { prefixNumber: prefix },
                    success: function (data) {

                        if (data.isSuccess) {

                            if (data.bankId == 1) {
                                $('#bank-icon').html('<img src="' + '@iconUrl_YKB' + '" alt="YKB Logo">');
                            } else if (data.bankId == 2) {
                                $('#bank-icon').html('<img src="' + '@iconUrl_VB' + '" alt="VB Logo">');
                            }
                            $('#bank-icon').show();

                            if (data.cardType == 0) {
                                $('#installment-row').show();
                            }

                        } else {
                            $('#bank-icon').hide();
                            $('#installment-row').hide();
                        }
                    },

                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("AJAX request failed. Status: " + textStatus + ", Error: " + errorThrown);
                        $('#bank-icon').hide();
                        $('#installment-row').hide();
                    }
                });
            }
        });
    });
</script>
